name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ "3.2", "3.3", "3.4", "4.0" ]
        active_support: [ "8.0", "8.1" ]
    name: Ruby ${{ matrix.ruby }} - ActiveSupport ${{ matrix.active_support }}
    env:
      ACTIVE_SUPPORT_VERSION: ${{ matrix.active_support }}
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run Tests
        env:
          RUBYOPT: "-W:deprecated" # Show Ruby's deprecation warnings
        run: |
          bundle exec rake
